@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);


body{
    font-family: 'Open Sans',sans-serif;
}

body p{
    font-weight: 200;
    font-size: 20px;
}

p{
	text-align: justify;
}

img{
	padding: 4px;
	background-color: #fff;
	border: none;
	overflow: hidden;
	box-shadow: 1px 2px 5px #000;
}